<!-- Modal -->

<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Annuler une sortie</h5>
				<div>
					<p>Un message d'explication sera envoyé par mail à chaque personne inscrite. </p>
				</div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{form_start(formMessage)}}
                <div class="mb-3">
                    <label for="recipient-name" class="col-form-label">Veuillez saisir un message :</label>
                    {{form_widget(formMessage.libelle)}}
                </div>
                <input type="hidden" name="idSortie" value="{{ sortie.id }}">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                <button type="submit" class="btn btn-primary">Valider l'annulation</button>
            </div>
            {{form_end(formMessage)}}
        </div>
    </div>
</div>